.blau {
	   background-color:#9dc9d1;
	   color: white;

	   
}

.purple {
	   background-color:#b69dd1;
	   color: white;
	   
	   

}

.grün {
	  background-color:#63856c;
	  color: white;
	 
}

	         

div{
	padding: 30px;
	margin: 10px;
}