body {
	  background-color:#ffedff;


}

img {
     width: 300px;
     margin: 50px;
     border-radius: 40px;
     border: 10px;
     border-style: solid;
     border-color: #debadd;
}

h1 {
	font-style:oblique;
 }

 p{
    font-style: oblique;
 }

 .left {
 	    float: left;
 }

 .right {
 	     float: right;
 }

