<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title> Template </title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>


<nav>
	<h5 class="logo">B R  <span id="sp">Architects</span>  </h5>
		
	<ul>
		<li><a href="#example">Project</a></li>
		<li><a href="#example">About</a></li>
		<li><a href="#example">Contact</a></li>

	</ul>
</nav>

<section>

	<div>
     <img src="house.jpg">
     <p>Brick House</p>
   </div>
	 <div><img src="house1.jpg">
	      <p>Summer House</p> </div>
	 <div><img src="house.jpg">
	      <p>Brick House</p> </div>
	 <div><img src="house1.jpg">
	  <p>Summer House</p></div>
		<div>
     <img src="house.jpg">
     <p>Brick House</p>
   </div>
	 <div><img src="house1.jpg"> 
	 <p>Summer House</p></div>
	 <div><img src="house.jpg">
	 <p>Brick House</p> </div>
	 <div><img src="house1.jpg">
	 	<p>Summer House</p>
	</div>

</section>



</body>
</html>