
body {
	   background:#93a2cc;
}

div {
	  text-align: center;
	  background: lightgreen;
	  margin: 25px;
	  padding: 20px;
	  font-size: 25px;
	  border: 5px solid green;
	  font-size: 20px;
	  font-style:italic;
}

.monika {
	  align-items: center;
	  display:flex;
	  justify-content: space-between;
	  background: lightblue;
	  margin: 25px;
	  padding: 20px;
	  border: 5px solid blue;
	 
}

img {
	  width: 100px;
}