.red{
	  color: red;
	  background: red;
	  width: 2000px;
	  height: 60px;
}

#white {
	     color: white;
	     background: white;
	     height: 60px;
}

h1 {
	text-align: Center;
	background-color:#ff6363;
	font-size: 50px;

}

img{
	width: 300px;
	float: right;
	border: 10px double red;
	border-radius: 8px;
	padding: 10px;
	margin: 40px;

}

p{
	font-size: 20px;
	font-style: italic;
}



