/*
*Title: Basic Website About ;
* Author:  Sara Zani;
* Date: 28.04.2022;
*/


/***************************** General Styling ******************************************/

@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Hurricane&family=Smooch+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@700&family=Roboto:wght@300&display=swap');

:root {
	scroll-behavior: smooth;
}


body {
	margin: 0;
	


}



nav {
	background-color: black;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
position: fixed;
width: calc(100% - 60px);
}

nav img {
	  height: 70px;
	  border-radius: 50%; /*to make the logo round*/
}

nav ul {
	 display: flex;
	 justify-content: flex-end;
	 align-items: center;
	 list-style-type: none;/*removes bullet point*/
}

nav ul li a {
	           margin: 20px;
	           padding: 20px;
	           text-decoration: none;/*removes underline*/
	           background: rgba(255, 255, 255, 0.7);
	           border-radius: 15px;
	           font-family: Noto Serif JP;
	           font-size:15px ;

	       }

nav ul li a:hover {
	
	color: white;
	background: black;/*changes elements if you move the mouse over it*/
}

/*Header*/

header {
	 height: 700px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	text-shadow: 0 0 10px #0000FF, 0 0 13px #0000FF;
	 font-family: Graffiti;
	 font-size: 60px;
}

header h1 {
	 font-size: 100px;
	 color: white;
	 border: double white 20px ;
	 padding: 10px;
	 margin: 10px;
	 border-radius: 20px;
	 background: black;
	 

}

/*Main*/

main div {
	background-color: white;
	height: 600px;
	font-family:Tokyo2097;
	font-size: 100px;
	color: white;
	text-shadow: 0 0 7px #000000, 0 0 10px #000000;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

main div img {
	float: right;
	width: 290px;
}


/****************************page styling*******************************/

/*Home Page*/

#home header {
	background-image: url(contact.jpg);

}

/*Contact Page*/

#contact header {
	background-image: url(con2.jpg);
}

#contact main p {
	background-color: white;
	padding: 100px;
}

 #home #tulip{
	        
	        display: flex;
	        justify-content: center;
	        align-items: center;
	        flex-wrap: wrap;
	}

#home #tulip img {
	width: 200px;
	margin: 10px;
	border: 2px solid pink;
}