/*
*Title: Basic Website About ;
* Author:  Sara Zani;
* Date: 28.04.2022;
*/


/***************************** General Styling ******************************************/

@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Hurricane&family=Smooch+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
	scroll-behavior: smooth;
}


body {
	margin: 0;
	background: rgb(41,43,138);
background: linear-gradient(0deg, rgba(41,43,138,1) 0%, rgba(0,4,51,1) 52%, rgba(0,0,167,1) 100%);


}



nav {
	background-color: #000098;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
position: fixed;
width: calc(100% - 60px);

}

nav img {
	  height: 60px;
	  border-radius: 60%; /*to make the logo round*/
}

nav ul {
	 display: flex;
	 justify-content: flex-end;
	 align-items: center;
	 list-style-type: none;/*removes bullet point*/
}

nav ul li a {
	           margin: 20px;
	           padding: 20px;
	           text-decoration: none;/*removes underline*/
	           background: rgba(255, 255, 255, 0.7);
	           border-radius: 15px;
	           font-family: Noto Serif JP;
	           font-size:15px ;

	       }

nav ul li a:hover {
	
	color: white;
	background: black;/*changes elements if you move the mouse over it*/
}

/*Header*/

header {
	 height: 700px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	text-shadow: 0 0 10px #0000FF, 0 0 13px #0000FF;
	 font-family: Graffiti;
	 font-size: 60px;
	 background-image: url(background.jpg);
	 background-size: cover;
	}

header h1 {
	 font-size: 100px;
	 color: white;
	 border: double 20px rgb(8,3,113);

	 padding: 10px;
	 margin: 10px;
	 border-radius: 20px;
	background: rgb(8,3,113);
background: radial-gradient(circle, rgba(8,3,113,1) 0%, rgba(0,52,255,1) 100%);
	 

}

/*Main*/

main div {
	
	height: 250px;
	font-family:Tokyo2097;
	font-size: 70px;
	color: white;
	text-shadow: 0 0 7px #000000, 0 0 10px #000000;
	display: flex;
	justify-content: space-around;
	align-items: center;


}

main div img {
	float: right;
	width: 290px;
}


/****************************page styling*******************************/


/*Trends Page*/

 article {
 font-family: Roboto;
 display: inline-block;
 justify-content: space-evenly;
 padding: 90px;

}

article .image {
	width: 400px;
	height: 500px;
	background-image: url("article6.png");
	background-position:center;
	background-size:cover;


	
}

article .text {
	width: 350px;
	height: 200px;
	background-color: white;
	padding: 25px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}

article .text .mini-footer {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
	 color: darkgrey;
	 font-size: 12px;
	 width: 100%;

}
article .text .mini-header {
	text-transform: uppercase;
}

article .text .mini-header span {
	margin-right: 10px;
}

article .text .mini-header {
 text-transform: uppercase;
 font-size: 12px;
}
.sailorcomment {
	font-family: Tokyo2097;
	text-shadow: 0 0 7px #000000, 0 0 10px #000000;
	color: white;
	font-size: 50px;
}

.suitcomment {
	font-family: Tokyo2097;
	text-shadow: 0 0 7px #000000, 0 0 10px #000000;
	color: white;
	font-size: 50px;
}


 article .image2 {
	width: 400px;
	height: 500px;
	background-image: url("article3.png");
	background-position:center;
	background-size:cover;
	}

	 article .image3 {
	width: 400px;
	height: 500px;
	background-image: url("article2.png");
	background-position:center;
	background-size:cover;
	}

	.skatecomment {
	font-family: Tokyo2097;
	text-shadow: 0 0 7px #000000, 0 0 10px #000000;
	color: white;
	font-size: 50px;
}

 article .image4 {
	width: 400px;
	height: 500px;
	background-image: url("article5.png");
	background-position:center;
	background-size:cover;
	}

		.autumncomment {
	font-family: Tokyo2097;
	text-shadow: 0 0 7px #000000, 0 0 10px #000000;
	color: white;
	font-size: 50px;
}